aiogram==2.25.1  # Фреймворк для создания Telegram-ботов
nltk==3.8.1  # Библиотека для обработки естественного языка
sqlite-utils==3.36.0  # Утилиты для работы с SQLite
google-api-python-client==2.121.0  # Клиент для работы с YouTube API
python-dotenv==1.0.1  # Работа с переменными окружения
aiohttp==3.9.0  # Асинхронные HTTP-запросы
